.Header_Container {
  width: 1050px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  position: fixed;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  padding-left: 20px;
  display: flex;
  align-items: center;
  background-color: white;
}
