.Account_Box {
  display: flex;
  justify-content: space-between;
  width: 1050px;
  height: 85vh;
}

.Image_Wrapper {
  width: 450px;
  height: 100%;
}

.Logo_Box{
  height: 150px;
}

.Login_Box_Wrapper {
  width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Login_Container {
  width: 100%;
  height: 450px;
  border: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  align-items: center;
  border-radius: 5px;
}

.Navigate_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.Navigate_Container > :first-child{
  margin-right: 5px;
}

.Conture_Line {
  border-bottom: 1px solid #dbdbdb;
  width: 90%;
  height: 1px;
  margin-bottom: 20px;
}

.Input_Container {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Input_Container > :first-child{
  margin-bottom: 25px;
}

.Input_Wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
}

.Button_Wrapper{
  width: 90%;
  height: 50px;
}

.SignUp_Navigate{
  color: #0095F6;
  font-weight: bold;
}