.Aside_Container {
  width: 13%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid #dbdbdb;
  position: fixed;
  background-color: white;
}

.Logo_Container {
  width: 100%;
  height: 110px;
  border-bottom: 1px solid #dbdbdb;
  font-size: 10px;
}
